.ProductSection {
  background: #920f0f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  gap: 60px;
}

.productImg {
  display: flex;
  justify-content: center;
  height: 70vh;
  gap: 1rem;
  margin-top: 2rem;
}

.extra {
  margin-top: 6rem;
}

.productText {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
  width: 60%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .ProductSection {
    padding: 5rem 2rem;
    min-height: 100vh;
    height: 85rem;
  }

  .productImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20rem;
  }

  .productImage {
    width: 300px;
    height: 300px;
  }

  .extra {
    margin-top: 1rem;
  }

  .productText {
    margin-top: 20rem;
    width: 313px;
    height: 120px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.656526px;
  }
}
