.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 80px; */
  background: #feefe5;
  height: 80vh;
  width: 100%;
}

.contact_title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  color: #212121;
}

.contact_subTitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin-top: rem;
  color: #212121;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.formBtn {
  background-color: #920f0f;
  color: #fff;
  border: 0;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  width: 200px;
  height: 55px;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  margin-top: -1.5rem;
}

.form__controlswrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 30px;
}

.inputName,
.inputEmail {
  width: 100%;
  border: 2px solid #fff;
  padding: 16px 12px;
  transition: all 0.5s ease;
  position: relative;
  background-color: #fff;
  outline: none !important;
  border-radius: 8px;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .contact {
    height: 70vh;
  }

  .contact_title {
    font-size: 30px;
  }
}
