.gift {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  gap: 4rem;
}

.send {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.giftText {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.imgIcon{
    background:  #FEEFE5;
    padding: 1.5rem;
    border-radius: 100%;
    z-index: -1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.0);
}

