@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;800&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;

  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  body::-webkit-scrollbar {
    display: none;
    width: 100%;
  }

}
